@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to-right, rgb(227, 226, 226), rgb(190, 190, 250));
  display: grid;
  place-items: center;

}

.mobile-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 1rem;
  background-color: rgb(245, 238, 254);
}

.construction-icon {
  font-size: 4rem;
  animation: bounce 1s infinite;
  margin-bottom: 1rem;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}